<div>
    <strong>Directiva de Atributo:</strong>
    <p kcImportante>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Duis eu accumsan sem, vel porta nibh. Pellentesque diam nisi, 
        gravida quis sodales eu, mollis in ligula. Aliquam sem orci, 
        laoreet tincidunt sodales et, aliquam eu leo. 
        Phasellus ligula mauris, mattis id tortor quis, eleifend fringilla magna. 
        Phasellus tincidunt ultrices malesuada. 
        Curabitur et metus suscipit elit lacinia pharetra vitae eget turpis. 
        Pellentesque et odio quis metus mattis consequat. 
        Sed eget ante ac tellus fringilla viverra ut sed tellus.

</p>
</div>